<html>
  <head>
    <!-- General Settings -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="{global.baseUrl}" /> -->

    <!-- Meta Tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}" />


    <!-- Static Assets -->
    <link type="image/svg+xml" rel="icon" href="public/assets/terkgallery.svg" sizes="256x256" />
    <link rel="manifest" href="public/assets/manifest.json" />
    <link rel="stylesheet" href="public/css/index.css" />
  </head>
  <body class="{body.class}">
    <!-- Page Wrapper -->
    <div class="wrapper">
      <!-- Page-Specific Content -->
      <div class="w-100 flex justify-center">
</html>
